body{
  background-color: #f7ede2;
  margin: 0;
}

h1{
 background-color: #84a59d;
 padding: 10px;
 color: white;
 text-align: center;

}

h3, p{
  background-color: #f6bd60;
  padding: 10px;
  text-align: center;
  color: black;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; 
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 10px; 
  background-color: #f5cac3;
  border: solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.navbar.h2{
  float: left;
}

.navbar.logo {
  color: #333;
  transition: color 0.3s ease;

}

.logo:hover {
  color:  #f28482;
}


.navbar.button{
  background-color: #f28482;
  padding: 8px 16px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar.button.hover{
  background-color: #d77d6b;
}

.navbar.navbar-items{
  display: flex;
  gap: 15px;
}

/* .dropdown{
  display: inline-block;
}

.dropdown_info{
  background-color: #84a59d;
  display: none;
  position: absolute;
}

.dropdown_info a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_btn{
background-color: #f6bd60;
display: block;
} */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown_info {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_info.show {
  display: block;
}

.dropdown_info a {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown_info a:hover {
  background-color: #ddd;
}
