body{
  background-color: #f7ede2;
}

h1{
 background-color: #84a59d;

}

h3{
  background-color: #f6bd60;
}

p{
  background-color: #f6bd60;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%; /* 80% of the container width */
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 5px; 
  background-color: #f5cac3/* Optional: rounded corners */
  /* display: flex;
  justify-content: center;
  border: solid black;
  padding: 5px 10px; 
  margin: 0 5px;  */
  /* height: 10%;
  max-width: 1200px;
  width: 100%; 
  max-width: 1200px;
  margin: 0 auto;  */
}

.navbar.logo {
  float: left;
}

/* .logo {
background-color: #f6bd60;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

.button{
  background-color: #f28482;
}
